#body{
  margin: 0px;
  padding:0px;
  width: 500px;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
}
#wrap{
  color:white;
  font-size: 10px;
  background-color: red;
}
#nhom1{
  color:black;
  font-size: 8px;
  background-color:white;
}

#nhom2{
  color:black;
  font-size: 8px;
  background-color:white;
}

#nhom3{
  color:black;
  font-size: 8px;
  background-color:white;
}

#nhom4{
  height: 100px;
  weight: 100px;
  background-color: rgb(69, 87, 192);
  color: white;
}

