#body{
  margin: 0px;
  padding:0px;
  width: 500px;
  height: 1000px;
  margin-left: auto;
  margin-right: auto;
}
#wrap{
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 40px;
  color:white;
  font-size: 30px;
  background-color: red;
}
#nhom1{
  color:black;
  font-size: 8px;
  background-color:white;
}

#nhom2{
  color:black;
  font-size: 8px;
  background-color:white;
}

#nhom3{
  color:black;
  font-size: 8px;
  background-color:white;
}

#nhom4{
  
  width: 500px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  background-color: rgb(103, 108, 201);
}
#nhom5{
  
  width: 500px;
  height: 110px;
  margin-left: auto;
  margin-right: auto;
  color:white;
  background-color: red;
  font-size:large;
}

a.button.facebook
{
    padding-top: 5px;
    float: left;
    padding-left: 200px;
    font-size: 40px;
}

a.button.youtube
{
    padding-top: 5px;
    float: left;
    padding-left: 200px;
    font-size: 40px;
}



